{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 1.316391034218276,
        "longitude": 103.87982368447412,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "An Eloquent Home",
        "time_zone": "Asia/Singapore",
        "external_url": "https://an-eloquent-house.duckdns.org:8123",
        "internal_url": "https://an-eloquent-house.duckdns.org:8123",
        "currency": "SGD"
    }
}